/* baltakatei ikiwiki style sheet */
/* Saved as local.css */
/* Ref/Attrib: Stanford Identity Elements - Color https://web.stanford.edu/group/webdev/identity/public/color.html */
/* Ref/Attrib: Ikiwiki CSS Market https://ikiwiki.info/css_market/ */
/* Ref/Attrib: ikiwiked gray-green by Danny Castonguay. https://github.com/AntPortal/ikiwiked/raw/master/theme/gray-green/local.css */
/* Ref/Attrib: cstamas.css by cstamas. https://ikiwiki.info/css_market/cstamas.css */

/*==BEGIN general CSS configurations==*/
body {
    background: #4d4f53; /* Cool Grey */
}

#content {
    /* Not title or footer */
    font-family: sans-serif;
    background: #2e2d29 /* Black */;
    margin: 10px 0px;
    padding: 10px;
    font-family: sans-serif;
    color: #b6b1a9 /* Driftwood */; /* Main text color */
}

.title {
    color: #ffffff /* white */;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    color: #d2c295 /* Sandstone */;
}

/*===BEGIN specify link text colors===*/
a:link { text-decoration: underline; color: #0098db /* Sky */; }
a:visited { text-decoration: underline; color: #009b76 /* Mint */; }
a:hover { /*background: #efefef;*/ text-decoration: none; color: #eaab00; }
a:active { /*background: #efefef;*/ text-decoration: underline; color: #e98300; }
/*===END specify link text colors===*/

/*===BEGIN preformatted text settings===*/
pre {
    /* Monospace text sections */
    color: #ffffff;
    border: 1px dotted #c0c0c0;
    background: #010101 /* Black */;
    padding: 2px;
    font-size: 110%;
    font-family: monospace;
    overflow: auto;
}
/*===BEGIN preformatted text settings===*/

/*===BEGIN Calendar table formatting===*/
tr:nth-child(odd) { background-color: #43423e /* Black ~90% */; }
tr:nth-child(even) { background-color: #2e2d29 /* Black 100% */; }
/*===END Calendar table formatting===*/
/*==END general CSS configurations==*/

/*==BEGIN local CSS configurations==*/
.pageheader {
    /*padding: 1em 1em 2em 1em;*/
    position: relative;
    overflow: hidden;
    background: #8c1515 /* Cardinal Red */;
    border-color: gray;
    border-style: none none solid none;
    border-width: 0px;
}

.pageheader .header {
    padding: 1em 1em 2em 1em;
}


.pageheader .actions {
    background: #4d4f53 /* Cool Grey */;
    border: none;
}



.pageheader .actions a:link { text-decoration: underline; color: #ffffff /* White */; }
.pageheader .actions a:visited { text-decoration: underline; color: #c7d1c5 /* Light Sage */;}


/*==END local CSS configurations==*/

/*==BEGIN ikiwiki-specific configurations==*/
/*Desc: These are configurations specified or modifying those in ikiwiki's `style.css`*/
/*Ref: https://ikiwiki.info/css/ */
div.header, header.header {
    /* Page title text*/
	margin: 0;
	font-size: 150%;
	font-weight: bold;
	line-height: 1em;
	display: block;
	padding: 10px;
}

.pageheader .actions ul {
    border-bottom: none; /*Remove bottom border from "Edit Recent Changes Preferences" subtitle */
}

.inlinepage {
    margin: 10px; /*Margin around each blog post*/
    border: none; /*Remove default ikiwiki border*/
    border-bottom: 1px dashed #4d4f53 /* Cool Grey */; /*Specify custom bottom border*/
    margin-bottom: 2em;
}

.inlinepage .inlinefooter {
    margin-bottom: 2em;
}


.sidebar {
    /* Sidebar specified by `sidebar.mdwn` (default location of calendar) */
	width: 20ex;
	float: right;
	margin-left: 4px;
	margin-bottom: 4px;
	margin-top: 10px;
	padding: 10px 2ex;
	background: #2e2d29 /* Black */;
	border: 1px solid #2e2d29 /* Black */;
	color: #ffffff !important;
	font-family: sans-serif;
}

/*===BEGIN recent changes config===*/
div.recentchanges {
    /* Individual version control entries in `./recentchanges/` page */
	border-style: solid;
	border-width: 1px;
	overflow: auto;
	width: auto;
	clear: none;
	background: #4d4f53 /* Cool Grey */ !important;
	color: #d2c295 /* Sandstone */ !important;
}

.recentchanges .changelog {
    /* Lines containing version control first-line titles*/ 
	font-style: italic;
	clear: both;
	display: block;
	padding: 1px 2px;
	background: #2e2d29 /* Black */ !important;
	color: #b6b1a9 /* Driftwood */ !important;
}

.recentchanges .metadata {
    margin-top:1em;
}

/*===END recent changes config===*/


.blogform, #blogform {
    /* The bar containing RSS, Atom, "Add a new post titled:" */
    padding: 10px 10px;
    margin: 10px 10px 10px 20px;
    border: 1px solid #2e2d29;
    background: #d2c295 /* Sandstone */;
    color: #2e2d29 /* Black */ !important;
    width: auto;
    overflow: auto;
}

.infobox {
    /* infobox template */
    float: right;
    margin-left: 2ex;
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding: 1ex 1ex;
    border: 1px solid #2e2d29;
    background: #2e2d29 /* Black */;
    color: #d2c295 /* Sandstone */ !important;
}

/*===BEGIN popup template===*/
.popup {
	border-bottom: 1px dotted #0098db;
	color: #0098db /* Sky */;
}
.popup .balloon,
.popup .paren,
.popup .expand {
	display: none;
	text-align: left;
}
.popup:hover .balloon,
.popup:focus .balloon {
    position: absolute;
    display: inline;
    margin: 1em 0 0 -2em;
    padding: 0.625em;
    border: 2px solid;
    background-color: #4d4f53 /* Cool Grey */;
    color: black;
    right: 10px; /* Sets right edge of balloon element 0px from left of right edge of nearest ancestor */
}
/*===END popup template===*/

/*===BEGIN calendar plugin===*/
.month-calendar-day-this-day,
.year-calendar-this-month {
    background-color: #c7d1c5 /* Light Sage */;
    color: #820000 /* Alt Red */;
}

.month-calendar-day-head,
.month-calendar-day-link,
.month-calendar-day-nolink,
.month-calendar-day-this-day,
.month-calendar-day-future {
    text-align: right;
}

.month-calendar-arrow A:link,
.year-calendar-arrow A:link,
.month-calendar-arrow A:visited,
.year-calendar-arrow A:visited {
	text-decoration: none;
	font-weight: normal;
	font-size: 150%;
}
/*===END calendar plugin===*/

/*==END ikiwiki-specific configurations==*/
